PROJECT_NAME=movies
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_MAX_CONNECTIONS=100
REDIS_CONNECT_TIMEOUT=5
ELASTIC_HOST=movies_elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://
ELASTIC_MAX_CONNECTIONS=20
ELASTIC_TIMEOUT=10
GUNICORN_WORKERS=4
GUNICORN_TIMEOUT=120
GUNICORN_GRACEFUL_TIMEOUT=60
GUNICORN_KEEPALIVE=120